# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython build artifacts
*.c
*.cpp
*.so
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST

# Django-specific
*.log
db.sqlite3
*.pot

# Testing / coverage
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

# Env files
.env
.env.*
!.env.example
.venv/
env/
venv/
ENV/

# IDE / editor settings
.vscode/
.idea/